.footer{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    padding-top: 300px;
    &_img {
        margin-left: auto;
        margin-right: auto;
        // margin-top: 50px;
        max-width: 1920px;
        height: 400px;
        background-color: var(--white-color);
        background-image: url("../image/imgFooter.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
