.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 50px;
  background-color: var(--accent-color);
  color: var(--white-color);
  @include fonts(16px);
  cursor: pointer;
}

.btn_play {
  cursor: pointer;

  &-red {
    background-color: transparent;
    margin-left: 150px;
    position: relative;
  }

  &-text {
    width: 120px;
    position: absolute;
    bottom: -9px;
    left: 55px;
    @include fonts(16px)
  }
}
