.nav {

    &_list {
        display: flex;
        flex-direction: row;
    }

  &_link{
    cursor: pointer;
    color: var(--white-color);
    @include fonts(16px);

    &:hover,
    &:focus{
      color: #c5c5c5;
    }

    &:active{
      color: var(--accent-color);
    }
  }

    &_item {

        &:not(:last-child){
            margin-right: 50px;
        }
    }
}
