.switcher {
  display: flex;
  color: var(--white-color);
  @include fonts(16px, 400);

}
.switcher-lan {
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 25px;
  }

  &:hover,
  &:focus{
    color: #808080
  }

  &:active{
    color: var(--accent-color);
  }
}

