.switcher {
  display: flex;
  color: var(--white-color);
  @include fonts(16px, 400);
}


.switcher-lang {
  cursor: pointer;
  &:not(:last-child) {
    margin-right: 25px;
  }

  &:hover,
  &:focus{
    color: var(--accent-color);
  }

}

.lang_active{
  color: var(--accent-color);
}
