.video {
  color: var(--white-color);

  &_youtube{
    position: relative;
    height: 100%;


    &-player{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
    }
  }

  &_one {
    width: 438px;
    height: 268px;
    background: url("../image/imgVideo1.jpg"), no-repeat, center;
    position: relative;
    margin-top: 30px;
    margin-bottom: 25px;

    &:hover{
      cursor: pointer;
    }
  }

  &_content {
    margin-left: 15px;

  }
  &_wrap-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 30px;
    left: 30px;
  }

  &_two {
    position: relative;
    background: url("../image/imgVideo2.jpg"), no-repeat, center;
    width: 438px;
    height: 268px;

    &:hover{
      cursor: pointer;
    }
  }

  &_wrap-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 30px;
    left: 30px;
  }

  &_title {
    @include fonts(20px, 500, 1.2);


  }

  &_text {
    @include fonts(14px, 400, 1.2);
    margin-top: 5px;
  }
}

.hidden{
  display: none;
}